@import "../base/reset";
@import "../sass-utils/variables";
@import "../layout/menu";
@import "../layout/header";

header {
  & #img-banner-product {
    max-height: 25rem;
    object-position: 100% 40%;
  }
}

.container-product {
  & .product-grid {
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    border: 1px solid red;
    & .product-img {
        background-color: white;
      & #product-img {
        width: 100%;
      }
    }
    & .product-desc {
        background-color: white;
        & h2 {
            padding: 0.5rem 0;
            text-align: center;
        }
    }
  }
}
